AddDefaultCharset utf-8

Options -Indexes

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

ErrorDocument 403 /notFound

RewriteRule ^(.*)$ index.php